html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

.sec-title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: dotted 1px #383e45;
}

#header {
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 30px auto;
  position: fixed;
  z-index: 10;
}

#header h1 {
  margin-left: 40px;
  font-size: 3rem;
  font-family: 'Comic Sans MS';
}

#header h1 a {
  color: #24292e;
}

#header h2 {
  margin-left: 20px;
}

#header h2 a {
  color: #24292e;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  margin-right: 40px;
}

#header li {
  margin-left: 30px;
  font-size: 1.2rem;
}

#header li a {
  color: #24292e;
}

#header li a:hover {
  opacity: 0.6;
  font-size: 1.25rem;
}

.mainvisual {
  margin-bottom: 30px;
}

.mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

#profile img {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#profile h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.8rem;
  margin-bottom: 50px;
}

#profile dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.2rem;
}

#profile dt {
  width: 40%;
  margin-bottom: 20px;
  font-weight: bold;
  margin-right: 5%;
}

#profile dd {
  width: 55%;
  margin-bottom: 20px;
  text-align: left;
}

#profile dd span {
  color: darkred;
}

#work ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#work li {
  width: 25%;
  margin: 0 4%;
}

#contact img {
  width: 50px;
  border-radius: 10px;
}

#contact table {
  margin: 0 auto;
}

#footer {
  background-color: #24292e;
}

#footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer li {
  color: #fff;
  line-height: 100px;
  text-align: end;
}

#footer li img {
  width: 30px;
  border-radius: 10px;
  margin-top: 35px;
  margin-left: 20px;
}

@media screen and (max-width: 670px) {
  .wrapper {
    margin-bottom: 70px;
  }
  .site-title {
    margin-top: 20px;
  }
  .sec-title {
    margin-bottom: 40px;
  }
  #header {
    max-width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header li {
    font-size: 0.9rem;
    margin-left: 20px;
  }
  #header li:first-child {
    margin-left: 0;
  }
  .mainvisual img {
    height: calc(100vh - 60px);
    max-width: 100%;
  }
  #profile.profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #profile img {
    margin-right: 0;
  }
  #work ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #work li {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  #footer {
    max-width: 100%;
  }
}
/*# sourceMappingURL=stylesheet.css.map */